<ion-view view-title="Search">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Email">
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>
      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>
      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>
      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>
    </div>
  </ion-content>
</ion-view>
