<ion-view view-title="OPTIONS">
  <ion-content class="padding">
    <div class="list">
      <a href="#/app/profile-avatar"><button class="button button-stable button-block">Change Avatar</button></a>
      <a href="#/app/profile-edit"><button class="button button-stable button-block">Edit Profile</button></a>
      <a href="#/app/profile-password"><button class="button button-stable button-block">Edit Password</button></a>
      <button class="button button-positive button-block" ng-click="signout()">Sign out</button>
    </div>
  </ion-content>
</ion-view>