<ion-view view-title="EDIT PASSWORD">
  <ion-nav-buttons side="secondary">
    <a class="button button-icon icon ion-checkmark-round" ng-click="update(data_password)"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">New Password</span>
        <input type="password" ng-model="data_password.password">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Current Password</span>
        <input type="password" ng-model="data_password.oldPassword">
      </label>
    </div>
  </ion-content>
</ion-view>