<ion-view view-title="Profile">
  <ion-nav-buttons side="secondary">
    <a class="button button-icon icon ion-gear-a"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="item item-avatar">
      <img src="mcfly.jpg">
      <div class="row">
          <div class="col col-33"><a href="#"><h2>3</h2><p>posts</p></a></div>
          <div class="col col-33"><a href="#"><h2>3</h2><p>followers</p></a></div>
          <div class="col col-33"><a href="#"><h2>3</h2><p>following</p></a></div>
      </div>
      <a href="#/app/edit"><button class="button button-block button-stable">Edit your profile</button></a>
    </div>
  </ion-content>
</ion-view>
