<ion-view view-title="Cinstagram">
  <ion-nav-title>
    <img src="/img/Cinstagram.png">
  </ion-nav-title>
  <ion-content class="padding">
    <form name="signin-form">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Username">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Password">
        </label>
      </div>

      <button type="submit" class="button">Save</button>
      <a href="#/app/home" class="button button-stable button-block ">Tap me!</a>
    </form>
  </ion-content>
</ion-view>
